@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
  margin: 0;
  background: 
   linear-gradient(to top right,#F5F7FB 50%,#FFFAD1 50.1%) top right/300px 300px no-repeat,  
   #F5F7FB; 
  font-family: 'Karla', sans-serif;
}

.main {
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: 1fr;
}

.home{
  margin-top: auto;
  
  padding: 30px 30px 30px 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 3px;
}

.Quiz {
  padding: 30px 30px 30px 30px;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-gap: 3px;
}

button{
  margin: 2px 2px 2px 2px;
  border: 0.794239px solid #4D5B9E;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #F5F7FB;
  padding: 5px 10px 5px 10px;
  font-family: 'Karla', sans-serif;
}

.selected{
  background-color: #D6DBF5;
  border: none;
  border-radius: 10px;
}

.correct{
  background-color: #94D7A2;
  border: none;
  border-radius: 10px;
}

.loss{
  background-color: #F8BCBC;
  border: none;
  border-radius: 10px;
}

.submitButton{
  border: none;
  border-radius: 3px;
  background-color: #844D9E;
  color: white;
  padding: 10px 10px 10px 10px;
  font-size: large;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
}
